@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap');

h1{
    font-family: "Pixelify Sans", sans-serif;
    color: rgb(206, 123, 40);
    text-shadow: 0px 7px rgb(113, 68, 1), 2px 2px 5px black;
    font-size: 75px;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
}

.background{
    height: 100vh;
    background-image: url("/images/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.contador{
     font-family: "Pixelify Sans", sans-serif;
     font-size: 50px;
     color: rgb(38, 114, 38);
     text-shadow: 0px 4px rgb(12, 236, 0);
     float: right;
     margin-right: 20px;
}
