@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap');

h1{
    font-family: "Pixelify Sans", sans-serif;
    color: rgb(206, 123, 40);
    text-shadow: 0px 7px rgb(113, 68, 1), 2px 2px 5px black;
    font-size: 75px;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
}

.background{
    height: 100vh;
    background-image: url("/images/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.contador{
     font-family: "Pixelify Sans", sans-serif;
     font-size: 50px;
     color: rgb(38, 114, 38);
     text-shadow: 0px 4px rgb(12, 236, 0);
     float: right;
     margin-right: 20px;
}

.help{
    padding-top: 4px;
    padding-left: 10px;
    position: absolute;
    bottom: 20px;
    right: 10px;
    height: 45px;
    width: 45px;
    background-image: linear-gradient(to bottom, #910707 40%, #d30e0e 60%);
    border-radius: 100%;
    box-shadow: 3px 3px 3px black;
}

.help button{
    font-family: "Pixelify Sans", sans-serif;
    background-color: transparent;
    color: rgb(243, 239, 229);
    font-size: 40px;
    border: none;
    text-shadow: 0px 1px rgb(113, 68, 1), 2px 2px 5px black;
    margin: -5px 0px 0px 0px;
    text-align: center;
    cursor: pointer;
}

.help:hover {
    padding-top: 5px;
    animation-name: upDown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes upDown {
    10% {
        transform: scale(1);
    }
    50% {
        transform:scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@media only screen and (min-width: 603px) and (max-width:681px){

    .background{
        width: 100%;
        /* height: 57vh; */
        background-size: contain;
    }
    .background h1{
        font-size: 20px;
        text-shadow: 1px 1px rgb(113, 68, 1);
    }
    .contador{
        font-size: 25px;
    }
    .help{
        bottom: 0px;
        top: 325px;
    }
}


@media only screen and (min-width: 681px) and (max-width:741px){
    .background{
        width: 100%;
        background-size: contain;
    }
    .background h1{
        font-size: 30px;
        text-shadow: 1px 1px rgb(113, 68, 1);
    }
    .contador{
        font-size: 25px;
        color: rgb(30, 156, 66);
    }

    .help{
        bottom: 0px;
        top: 325px;
    }
}

@media only screen and (min-width: 741px) and (max-width:1041px){
    body{
        background-color: #1B4C7D;
    }
    .background{
        width: 100%;
        background-size: contain;
    }
    .background h1{
        font-size: 40px;
        text-shadow: 1px 1px rgb(113, 68, 1);
    }
    .contador{
        font-size: 25px;
        color: rgb(30, 156, 66);
    }

    .help{
        bottom: 0px;
        top: 400px;
    }
}

@media only screen and (min-width: 1041px) and (max-width:1200px){

    body{
        background-color: #1B4C7D;
    }
    .background{
        width: 100%;
        background-size: contain;
    }
    .background h1{
        font-size: 70px;
        text-shadow: 1px 1px rgb(113, 68, 1);
    }

    .help{
        bottom: 0px;
        top: 600px;
    }
}