.miss, .cani{
    cursor: pointer;
    height: 100%;
}

 @media (hover: hover){
     .cani:hover, .miss:hover{
         height: 110%;
     }
 }

.boat{
    position: absolute;
    width: auto;
    top: 50px;
    right: -30px;
    z-index: 99;
}

.boat img{
    width: 190px;
}


@media only screen and (min-width: 603px) and (max-width:681px){
    .boat{
        left: -25px;
        top: 25px;
    }
    .boat img{
        width: auto;
        height: 45px;
        margin: 0px;
    }
}

@media only screen and (min-width: 681px) and (max-width:741px){

    .boat{
        right: -15px;
    }

    .boat img{
        width: auto;
        height: 45px;
        margin: 0px;
        
    }
}

@media only screen and (min-width: 741px) and (max-width:841px){
    .boat{
        right: -15px;
    }

    .boat img{
        width: auto;
        height: 45px;
        margin: 0px;
        
    }
}

@media only screen and (min-width: 841px) and (max-width:941px){
    .boat{
        right: -15px;
    }

    .boat img{
        width: auto;
        height: 45px;
        margin: 0px;
        
    }
}

@media only screen and (min-width: 941px) and (max-width:1041px){
    .boat{
        right: -15px;
    }

    .boat img{
        width: auto;
        height: 60px;
        margin: 0px;
        
    }
}