.miss, .cani{
    cursor: pointer;
    height: 100%;
}

#char1:hover{
    height: 105px;
}


#char2:hover{
    height: 105px;
}

#char3:hover{
    height: 105px;
}
#char4:hover{
    height: 105px;
}
#char5:hover{
    height: 105px;
}
#char6:hover{
    height: 105px;
}

.boat{
    position: absolute;
    width: 200px;
    top: 50px;
    right: -30px;
    z-index: 99;
}

.boat img{
    width: 190px;
}
