.controll{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    z-index: 990;
    width: 185px;
}
.controll-main-div{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 400px;
}

.central-circle{
    height:60px;
}

.central-circle:hover{
    height: 65px;
    cursor: pointer;
}

.pointer-right{
    height: 45px;
}

.pointer-right:hover{
    height: 50px;
    cursor: pointer;
}
.pointer-left{
    height: 45px;
}

.pointer-left:hover{
    height: 50px;
    top: -5px;
    cursor: pointer;
}

@media only screen and (min-width: 633px) and (max-width:1000px){

    .controll-main-div{
        display: flex;
    }
}