body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    background-image: url("/images/header-background.png");
    background-size: 10px;
    height: 70px;
    width: 100%;
    border-bottom: 10px solid rgb(30, 150, 46);
}

header nav{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

header img{
    margin-top: 10px;
    height: 30px;
    margin-left: 20px;
    cursor: pointer;
}

.menu-icon{
    margin-top: 20px;
}

.reestart{
    height: 45px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.logo{
    margin-top: 5px;
    margin-left: 50px;
    height: 50px;
}

.theme{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin-left: auto;
    background-color:  #68C550;
    border: 2px solid rgb(35, 99, 17);
    border-radius: 15px;
    cursor: pointer;
}

.theme img{
    margin: 0;
    height: 40px;
    background-image: radial-gradient(circle, rgb(255, 255, 255), rgb(52, 102, 67) );
    border: 2px solid rgb(35, 99, 17);
    border-radius: 5px;
}   

.tip{
    background-image: linear-gradient(to bottom, green 50%, #33a004);
    color: white;
    border: 2px solid rgb(35, 99, 17);
    height: 100%;
    margin: 20px 50px 0px 50px;
    border-radius: 100px;
    width: 20px;
    text-align: center;
    cursor: pointer;
}

.tip:hover{
    color: black;
    background-image: linear-gradient(to right, white, gray);
}